.mantine-MultiSelect-pill {
  background: none;
  padding: 0;
}

.mantine-MultiSelect-pill > button {
  display: none;
}

.mantine-MultiSelect-pill::after {
  content: ",";
}

.mantine-MultiSelect-pillsList > span:last-of-type::after {
  content: "";
}

.mantine-MultiSelect-input:focus-within {
  border: 1px solid var(--purple_500_main);
}

.mantine-MultiSelect-option {
  padding-left: 6px;
  font-size: 14px;
}

.mantine-MultiSelect-option:hover {
  background-color: var(--purple_100);
}

.mantine-MultiSelect-option:active {
  background-color: var(--purple_500_main);
  color: var(--white);
}
.mantine-MultiSelect-section[data-position='right']>img{
  position: relative;
  left: -3px;
}