:root {
  --white: #FFFFFF;
  --grey_100: #F5F5F6;
  --grey_200: #EAEBED;
  --grey_300: #D5D6DC;
  --grey_500: #ACADB9;
  --grey_600: #7B7C88;
  --black: #232134;
  --purple_600: #541F9D;
  --purple_500_main: #9854F6;
  --purple_400: #BD93F7;
  --purple_300: #D1B4F8;
  --purple_200: #E5D5FA;
  --purple_100: #F2ECFA;
  --yellow: #FAB005;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: Inter;
}

.myMultiSelectPill {
  background: none;
  padding: 0;
}

.myMultiSelectPill > button {
  display: none;
}

.myMultiSelectPill::after {
  content: ",";
}

.myMultiSelectPillsList > span:last-of-type::after {
  content: "";
}

.myMultiSelectInput:focus-within {
  border: 1px solid var(--purple_500_main) !important;
}

.myMultiSelectOption {
  padding-left: 6px;
  font-size: 14px;
}

.myMultiSelectOption:hover {
  background-color: var(--purple_100);
}

.myMultiSelectOption:active {
  background-color: var(--purple_500_main);
  color: var(--white);
}

.myMultiSelectSection[data-position='right'] > img {
  position: relative;
  left: -3px;
}

.searchForm {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  width: 100%;
}

.mantine-AppShell-navbar {
  background: var(--purple_100);
}

.mantine-AppShell-main {
  background: var(--grey_100);
}

.mantine-NumberInput-control > svg {
  color: var(--grey_500);
}

.mantine-NumberInput-control[data-direction="up"] {
  position: relative;
  top: 4px;
}

.mantine-NumberInput-control[data-direction="down"] {
  position: relative;
  bottom: 4px;
}

.reset-button:hover {
  color: var(--purple_400);
}

.reset_button:disabled {
  color: var(--grey_600);
}

.reset_button:active {
  color: var(--purple_600);
}

.wrapperNumberInput {
  min-width: 150px;
}

.burger {
  position: absolute;
  right: 0;
}

.searchInput:hover, .searchInput:focus-within, .searchInput:focus {
  border-color: var(--purple_500_main);
}

.myCardRoot {
  background: var(--white);
  border-radius: 12px;
}

@media (max-width: 1400px) {
  .blockCards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1250px) {
  .searchForm {
    flex-direction: column;
  }
}

@media (max-width: 1100px) {
  .mantine-AppShell-main {
    padding: 20px 50px 20px 300px !important;
  }
}

@media (max-width: 950px) {
  .ratedTitleBlock {
    grid-template-columns: 1fr;
    gap: 10px
  }
}

@media (max-width: 770px) {
  .mantine-AppShell-main {
    padding: 20px 50px !important;
  }
  
  .mantine-AppShell-navbar {
    width: 280px;
  }
}

@media (max-width: 550px) {
  .contentCard {
    flex-direction: column;
  }
}